## Performance de uma carteira de ativos

###### Importando as bibliotecas

In [24]:
import numpy as pd
import pandas as pd
import matplotlib.pyplot as plt
import pandas_datareader.data as web
import yfinance as yf

###### Importando os dados

In [25]:
carteira = pd.read_excel('carteira.xlsx')
display(carteira)

    Ativos  Tipo  Qtde
0   BOVA11   ETF   100
1   SMAL11   ETF   100
2    MGLU3  Ação  1000
3    BBDC4  Ação   100
4    ITUB4  Ação   100
5    ENEV3  Ação   300
6    MOVI3  Ação   100
7   BPAC11  Ação   100
8    GNDI3  Ação   100
9    NTCO3  Ação   100
10  BCRI11   FII   100
11  VILG11   FII   100
12  KNRI11   FII   100
13  XPLG11   FII   100

###### Criando nosso Dataframe de Cotações dos ativos da carteira

In [26]:
cotacoes_carteira = pd.DataFrame()

for ativo in carteira['Ativos']:
  cotacoes_carteira[ativo] = yf.download('{}.SA'.format(ativo), start='2020-01-01', end='2020-11-10', progress=False)['Adj Close']
  
display(cotacoes_carteira)

1 Failed download:
- GNDI3.SA: No timezone found, symbol may be delisted

                BOVA11      SMAL11  ...      KNRI11      XPLG11
Date                                ...
2020-01-02  114.239998  139.500000  ...  184.888397         NaN
2020-01-03  113.800003  140.899994  ...  184.888397         NaN
2020-01-06  112.589996  139.100006  ...  183.387787         NaN
2020-01-07  112.239998  139.399994  ...  184.101044         NaN
2020-01-08  111.949997  138.199997  ...  173.680252         NaN
...                ...         ...  ...         ...         ...
2020-11-03   92.260002  109.980003  ...  146.650970  116.904793
2020-11-04   94.160004  112.000000  ...  146.706543  117.042328
2020-11-05   96.949997  115.900002  ...  146.521255  117.317360
2020-11-06   97.190002  117.510002  ...  146.762115  119.187698
2020-11-09   99.500000  120.000000  ...  146.493469  117.372375

[214 rows x 14 columns]

### Será que todos os dados vieram corretos?

### Ajustando os dados

### Vamos ver como que as ações foram individualmente

### Vamos puxar o IBOV para comparar

### Criando um dataframe da Carteira com as quantidades de ações

### Comparação Carteira x IBOV

### Correlação da Carteira com o IBOV